<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h1><%= @user.name %></h1>
      <h4 class="font-italic text-secondary"><%= @user.user_name %></h4>
      <p><%= @user.email %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-start">
    <div class="col-sm-8">
      <% @user.posts.order(created_at: :desc).each do |post| %>
      <div class="card">
          <div class="card-header"><strong><%= post.title %></strong></div>
          <div class="card-body">
            <p class="card-text"><%= post.body %></p>
            <% if signed_in? && post.user == current_user %>
              <%= link_to 'Editar <i class="material-icons">create</i>'.html_safe, edit_post_path(post) %>
              <%= link_to 'Eliminar <i class="material-icons">delete_sweep</i>'.html_safe, post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %>
            <% end %>
          </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
