<!-- post -->
<div class="container home">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <p><%= link_to '<i class="material-icons">reply_all</i> Volver'.html_safe, root_path %></p>
      <div class="card card-shadow">
        <div class="card-body">
          <h1 class="card-title"><%= markdown(@post.title.capitalize) %></h1><br>
          <p class="card-text"><%= markdown(@post.body) %></p><br>
          <p class="font-italic text-secondary">Publicado por <strong><%= @post.user.user_name %></strong>, <%= time_ago_in_words(@post.created_at) %></p>
          <% if signed_in? && @post.user == current_user %>
          <div class="">
            <%= link_to '<i class="material-icons">create</i>'.html_safe, edit_post_path(@post) %>
            <%= link_to '<i class="material-icons">delete_sweep</i>'.html_safe, @post, method: :delete, data: { confirm: "¿Estás seguro de eliminar este post?" } %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- comentarios -->
<div class="container home">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h5><strong>Comentarios</strong></h5><br>
      <% @post.comments.each do |comment| %>
        <div class="card card-shadow">
          <div class="card-header"><strong><%= comment.user.name %></strong></div>
          <div class="card-body">
            <p><%= markdown(comment.body) %></p>
            <p class="font-italic text-secondary">Publicado por <strong><%= comment.user.user_name %></strong>, <%= time_ago_in_words(comment.created_at) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<!-- formulario de comentarios -->
<div class="container home footer">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <% if signed_in? %>
        <h5>Nuevo Comentario</h5>
        <%= form_for [@post, @post.comments.build] do |f| %>
          <div class="form-group">
            <%= f.text_area :body, placeholder: "Escribe tu comentario", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.submit "Comentar", class: "btn btn-color" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
