<!DOCTYPE html>
<html>
  <head>
    <title>SuperBlog</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><strong>SuperBlog</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <% if signed_in? %>
              <%= link_to "Nuevo Post", new_post_path, class: "nav-link" %>
            <% end %>
          </li>
        </ul>
        <div class="justify-content-between">
          <ul class="navbar-nav mr-auto">
            <li class="navbar-nav nav-item">
              <% if signed_in? %>
                <%= link_to current_user.name, current_user.user_name, class: "navbar-brand" %>
                <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <% else %>
                <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
                <%= link_to "Registrarce", new_user_registration_path, class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
